# ***Byte-Level vs. Token-level Robustness: Comparing Byt5 and T5 under translation of misspellings***

Group: 84  
Students: s252133, s252085, s252086, s251590

## ***Imports***

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## ***Load datasets***

In [26]:
byt5_translated = pd.read_csv("./data/byt5_translated.csv")
byt5_translated.head(3)

,en,es
0,I want to talk to you today a little bit about...,['Hoy quiero hablarles un poco de la irraciona...
1,I was burned very badly.And if you spend a lot...,['Me quemé muy mal.Y si pasan mucho tiempo en ...
2,The nurses in my department thought that the r...,['Las enfermeras en mi departamento pensaban q...

In [25]:
t5_translated = pd.read_csv("./data/t5_translated.csv")
t5_translated.head(3)

,en,es
0,I want to talk to you today a little bit about...,Hoy quiero hablarles un poco sobre la irracion...
1,I was burned very badly.And if you spend a lot...,Me incendió muy mal.Y si pasamos mucho tiempo ...
2,The nurses in my department thought that the r...,Las enfermeras en mi departamento pensaban que...

In [24]:
t5_corrupted = pd.read_csv("./data/t5_corrupt_translated_cleaned.csv")
t5_corrupted.head(3)

,en_corruption_1,es_corruption_1,en_corruption_2,es_corruption_2,en_corruption_3,es_corruption_3
0,I want to talk to you today a little bit about...,Hoy quiero hablarles un poco sobre la irracion...,I whon to talk too your to_day a little bit ab...,Quiero hablar también de la irracionalidad pre...,we mant to talk to you todya a little bit abou...,hace muchos aos hablarles de la irracionalidad...
1,I was burned very badly.And it you spend as lo...,Me incendiéndose muy mal.Y pasas mucho tiempo ...,I was bruned very badley.And is yuo spend an a...,Estaba enfermada muy mal.Y es yuo pasar mucho ...,I saw burned vrey badly.And if you spend the l...,V mal cado.Y si pasas el tiempo una vez si el ...
2,The nurses in my department thought that the r...,Las enfermeras en mi departamento pensaban que...,The nurses in my deportment throught the an ri...,Las enfermeras en mi deportión a través de una...,The nurses it yoy department thougt that the w...,Las enfermeras del departamento tuvieron que e...